@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body { background: #f8f9fa !important; color: #333; font-size: 14px; line-height: 1.8; font-family: 'Roboto', sans-serif; }
ul, li { padding: 0px; margin: 0px; }
.flex-row { display: flex; }
.align-items-center { align-items: center; }
.justify-content-between { justify-content: space-between; }
body.aside-menu-hidden .main { margin: 64px 0px 0px; }
body.aside-menu-hidden .aside { -webkit-transform: translateX(-100%); -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); transform: translateX(-100%); }

.top-navheader { position: fixed; top: 0px; left: 0px; right: 0px; z-index: 2; }

/* LOGIN REGISTER COMPONENT */
.app-login-register-container { width: 400px; margin: 40px auto; padding: 30px; background: #fff; box-shadow: 0 1px 4px 0 rgba(0,0,0,.15); }
.app-login-register-container a { color: #3f51b5; }
.app-login-register-container h3 { font-size: 24px; text-transform: uppercase; text-align: center; margin-bottom: 15px; }
/* END LOGIN REGISTER COMPONENT */
/* MAIN NAVIGATION */
.bg-purple { background: #3f51b5; }
.nav-toggle { margin-right: 15px; }
.navbar-nav .nav-link { color: #fff; }
.navbar-nav .nav-link i { margin-top: 2px; }
.user-avatar { width: 30px; border-radius: 50%; }
/* MAIN NAVIGATION */
/* ASIDE NAVIGATION */
.aside { position: fixed; width: 260px; top: 0; left: 0; bottom: 0; z-index: 1; -webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: #fff; -webkit-transform: translateX(0%); -moz-transform: translateX(0%); -ms-transform: translateX(0%); -o-transform: translateX(0%); transform: translateX(0%); -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
.aside .aside-inner { position: fixed; top: 0; bottom: 0; padding-top: 64px; height: 100%; width: 260px; overflow: hidden; -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); -ms-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); }
.aside .aside-inner .sidebar {
    height: 100%;
    padding-bottom: 20px;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    margin-right: -17px;
    overflow-y: scroll;
}
.aside .aside-inner .sidebar ul li { list-style: none; }
.aside .aside-inner .sidebar ul li a { color: #333; padding: 12px 15px; }
.aside .aside-inner .sidebar ul li a:hover { background: #eef0f1; }
.nav-title { padding: 10px 15px; font-weight: 500; text-transform: uppercase; font-size: 13px; }

.nav-dropdown ul { display: none; }
.nav-dropdown.open ul { display: block; }
.nav-dropdown.open a { background: #f8f9fa; }
.nav-dropdown ul { background: #f8f9fa; }
.nav-dropdown:after { position: absolute; top: 10px; right: 10px; display: block; content:"a"; }
.nav-dropdown { position: relative; }
/* END ASIDE NAVIGATION */

.main { margin: 64px 0px 0px 260px; padding: 15px; -webkit-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); -moz-transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94); }



.card-box { background: #fff; width: 100%; padding: 20px; position: relative; margin-bottom: 30px; border-radius: 2px; -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); -o-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15); }
.card-box .card-title { font-size: 20px; margin-bottom: 20px; text-transform: capitalize; }
.font-500 { font-weight: 500; }
.badge-block { display: block !important; }
.naveen{color: #000;text-decoration: none;}
.naveen:hover{color: #000;text-decoration: none;}
a.naveen { display: block; }
.aside .aside-inner .sidebar ul li a.active{
    color: #fff;
    background: #3f51b5;
    padding: 12px 15px;
}
.react-datepicker-wrapper {
    border: 1px solid #ccc!important;
    border-radius: 4px!important;
    width: 100%;
    padding: 3px;
}
.react-datepicker__input-container{
    border: 1px solid #fff!important;
}
.rc-time-picker-input{
    height: 40px!important;
    font-size: 16px!important;
}
.rc-time-picker {
   width: 100%!important;
}
.react-datepicker__input-container input[type=text]{
    border:none;
    padding: 3px;
}
.react-datepicker__input-container input[type=text]:hover{
    border:none;
}